body{
    background-color: #d5eaf7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

a {
    color: #90dbf1;
    text-decoration: none;
}

a:hover {
    color: #e0cc12d5;
}

.container_main{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1{
    font-size: 2em;
    margin: 0;
}

h2{
    font-size: 1.5em;
    margin: 0;
}

p {
    text-align: center;
    font-size: 20px;
    
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: inline;
    margin-right: 20px;
}

main{
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

img {
    width: 300px;
    height: 200px;
}

.footer p{
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer nav{
    display: flex;
    justify-content: right;
}

.navegacion-footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.contenedor-imagen h1 {
    margin: 20px;
}



.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imagenes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-seccion p{
    font-size: 40px;
}

.logo h1 {
    font-size: 60px;
}

.logo span {
    color:cornflowerblue;
}

.contenedor-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-navegacion a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
 }

 .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    gap: 60px;
 }

 .contenedor-navegacion h1 {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
 }

 .p-form {
    margin-top: 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

.contenedor-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 0;
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.contenedor-input button {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contenedor-input button:hover {
    background-color: #90dbf1;
    color: #333;
}

.contenedor-input button:active {
    background-color: #e0cc12d5;
    color: #333;
}

.contenedor-input button:focus {
    outline: none;
}

.contenedor-input button:visited {
    color: #333;
}

.contenedor-input input{
    border-radius: 10px;

}

